@import 'src/themes/theme-builder';

.styledButton {
	min-width: 4rem;
	margin: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 2px;
	&:hover {
		cursor: pointer;
	}
	&:focus {
		outline: 0;
		box-shadow: 0px 0px 0px 2px orange;
	}
	&:disabled {
		cursor: not-allowed;
	}
}

.primaryButton {
    border-color: skyblue;
	background-color: skyblue;
	color: black;
	&:hover {
		background-color: lightblue;
        border-color: lightblue;
	}
	&:active {
		-webkit-box-shadow: inset 0px 0px 0.4rem skyblue;
		-moz-box-shadow: inset 0px 0px 0.4rem skyblue;
		box-shadow: inset 0px 0px 0.4rem skyblue;
	}
	&:disabled {
		background-color: gray;
        border-color: gray;
	}
}

.secondaryButton {
    border-color: skyblue;
	background-color: whitesmoke;
	color: black;
	&:hover {
		background-color: lightblue;
        border-color: lightblue;
	}
	&:active {
		-webkit-box-shadow: inset 0px 0px 0.4rem skyblue;
		-moz-box-shadow: inset 0px 0px 0.4rem skyblue;
		box-shadow: inset 0px 0px 0.4rem skyblue;
	}
	&:disabled {
		background-color: gray;
        border-color: gray;
	}
}