@import 'src/themes/theme-builder';

.styledButton {
	min-width: 4rem;
	margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 2px;
	&:hover {
		cursor: pointer;
	}
	&:focus {
		outline: 0;
	}
	&:active {
		-webkit-box-shadow: inset 0px 0px 0.5rem #e0e0e0;
		-moz-box-shadow: inset 0px 0px 0.5rem #e0e0e0;
		box-shadow: inset 0px 0px 0.5rem #e0e0e0;
	}
	&:disabled {
		cursor: default;
		opacity: 0.5;
	}
}

.primaryButton {
	@include theme-aware('border-color', 'button-primary-border');
	@include theme-aware('background-color', 'button-primary-background');
	@include theme-aware('color', 'button-primary-text');
	&:hover, &:focus {
		@include theme-aware('color', 'button-primary-text-focus');
		@include theme-aware('border-color', 'button-primary-border-focus');
		@include theme-aware('background-color', 'button-primary-background-focus');
	}
	&:disabled {
		@include theme-aware('color', 'button-disabled-text');
		@include theme-aware('border-color', 'button-disabled-border');
		@include theme-aware('background-color', 'button-disabled-background');
	}
}

.secondaryButton {
	@include theme-aware(border-color, 'button-secondary-border');
	@include theme-aware(background-color, 'button-secondary-background');
	@include theme-aware(color, 'button-secondary-text');
	&:hover, &:focus {
		@include theme-aware('color', 'button-secondary-text-focus');
		@include theme-aware('border-color', 'button-secondary-border-focus');
		@include theme-aware('background-color', 'button-secondary-background-focus');
	}
	&:disabled {
		@include theme-aware('color', 'button-disabled-text');
		@include theme-aware('border-color', 'button-disabled-border');
		@include theme-aware('background-color', 'button-disabled-background');
	}
}