@import 'src/themes/theme-builder';

.movieRelease {
	font-size: 1.2rem;
	margin-top: 1rem;
	margin-bottom: 0;
	padding: 0.5rem 1rem;
	width: inherit;
	text-align: center;
	@include theme-aware(background-color, 'date-banner');
	@include theme-aware(box-shadow, 'container-shadow');
	svg {
		@include theme-aware(color, 'icon');
		margin-right: 0.5rem;
	}
}
	