$_Primary: #BB86FC;
$_PrimaryDark: darken($_Primary, 10%);
$_Secondary: #14f5de;
$_SecondaryDark: darken($_Secondary, 20%);
$_Error: #CF6679;

$_GreyScale1: #121212;
$_GreyScale2: #23282c;
$_GreyScale3: lighten($_GreyScale2, 6%); 
$_GreyScale4: lighten($_GreyScale2, 12%); 
$_GreyScale5: lighten($_GreyScale2, 20%); 
$_GreyScale6: lighten($_GreyScale2, 32%); 
$_GreyScale7: lighten($_GreyScale2, 60%); 
$_GreyScale8: lighten($_GreyScale2, 80%); 

$_BoxShadow: 0px 4px 6px $_GreyScale1;
$_ScoreShadow: drop-shadow(0px 0px 1px $_GreyScale1);

$darkTheme:(
    dark:(
        background: $_GreyScale1,
        container: $_GreyScale2,
        container-shadow: $_BoxShadow,

        text: $_GreyScale8,

        link: $_Primary,
        link-hover: $_Secondary,

        button-primary-text: $_GreyScale8,
        button-primary-background: $_GreyScale2,
        button-primary-border: $_Primary,

        button-primary-text-focus: $_GreyScale1,    
        button-primary-background-focus: $_Primary,
        button-primary-border-focus: $_Primary,

        button-secondary-text: $_GreyScale8,
        button-secondary-background: $_GreyScale2,
        button-secondary-border: $_Secondary,

        button-secondary-text-focus: $_GreyScale1,
        button-secondary-background-focus: $_Secondary,
        button-secondary-border-focus: $_Secondary,

        button-disabled-text: $_GreyScale8,
        button-disabled-background: $_GreyScale4,
        button-disabled-border: $_GreyScale4,

        checkbox-background: $_GreyScale1,
        checkbox-border: $_GreyScale1,
        checkbox-check: $_Primary,
        checkbox-check-alt: $_Secondary,

        checkbox-background-disabled: $_GreyScale4,
        checkbox-border-disabled: $_GreyScale4,
        checkbox-check-disabled: $_GreyScale6,

        card-background: $_GreyScale3,

        score-text: $_GreyScale7,
        score-bar: $_Primary,
        score-wheel: $_GreyScale2,
        score-shadow: $_ScoreShadow,

        pill: $_GreyScale4,
        icon: $_Secondary,
    )
);
