$_Primary: #81c754;
$_PrimaryDark: #276D00;
$_Secondary: #5481c7;
$_SecondaryDark: #2e528b;
$_Error: #B00020;

$_GreyScale1: #e2e7f1;
$_GreyScale2: darken($_GreyScale1, 10%);
$_GreyScale3: darken($_GreyScale1, 20%);
$_GreyScale4: darken($_GreyScale1, 30%);
$_GreyScale5: darken($_GreyScale1, 50%);
$_GreyScale6: darken($_GreyScale1, 80%);

$_BoxShadow: 0px 4px 6px $_GreyScale4;

$lightTheme: (
    light: (
        background: $_GreyScale3,
        container: $_GreyScale1,
        container-shadow: $_BoxShadow,

        text: $_GreyScale6,

        link: $_Secondary,
        link-hover: $_SecondaryDark,

        button-primary-text: $_GreyScale6,
        button-primary-background: $_Primary,
        button-primary-border: $_Primary,

        button-primary-text-focus: $_GreyScale1,    
        button-primary-background-focus: $_PrimaryDark,
        button-primary-border-focus: $_PrimaryDark,

        button-secondary-text: $_Secondary,
        button-secondary-background: $_GreyScale1,
        button-secondary-border: $_Secondary,

        button-secondary-text-focus: $_SecondaryDark,
        button-secondary-background-focus: $_GreyScale1,
        button-secondary-border-focus: $_SecondaryDark,

        button-disabled-text: $_GreyScale6,
        button-disabled-background: $_GreyScale3,
        button-disabled-border: $_GreyScale3,

        checkbox-background: $_GreyScale1,
        checkbox-border: $_GreyScale4,
        checkbox-check: $_Primary,
        checkbox-check-alt: $_Secondary,

        checkbox-background-disabled: $_GreyScale2,
        checkbox-border-disabled: $_GreyScale4,
        checkbox-check-disabled: $_GreyScale4,

        card-background: $_GreyScale2,
    )
);
