@import 'src/themes/theme-builder';

.checkboxComponent {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    .checkbox { 
        align-items: center;
        display: inline-flex;
        border-style: solid;
        border-width: 1px;
        padding: 2px;
        height: 1.2rem;
        width: 1.2rem;
        border-radius: .2rem;
        @include theme-aware('border-color', 'checkbox-border');
        @include theme-aware('background-color', 'checkbox-background');
        @include theme-aware('color', 'checkbox-check');
        &:focus {
            outline: 0;
            -webkit-box-shadow: 0px 0px 0px 2px orange;
            -moz-box-shadow: 0px 0px 0px 2px orange;
            box-shadow: 0px 0px 0px 2px orange;
        }
        .check {
            font-size: 0.9rem;
        }
        .altCheckColor {
            @include theme-aware('color', 'checkbox-check-alt');
        }
        &:disabled {
            opacity: 0.75;
            @include theme-aware('border-color', 'checkbox-border-disabled');
            @include theme-aware('background-color', 'checkbox-background-disabled');
            .check {
                @include theme-aware('color', 'checkbox-check-disabled');
            }
        }
    }
    .checkboxLabel {
        cursor: pointer;
        padding-left: 1rem;
        &.disabledLabel {
            cursor: default;
            opacity: 0.5;
        }
    }
}