@import 'src/themes/theme-builder';

.toggleComponent {
	position: relative;
	height: 1.5rem;
    width: 3rem;
    text-align: left;  
	.toggleButton {
		z-index: 3;
		position: absolute;
		height: 1.5rem;
		width: 3rem;
		cursor: pointer;
		border-radius: 1.5rem;
		border: none;
		background-color: transparent;
		top: 0; 
		&:focus {
            outline: 2;
		}
		&:disabled {
			background-color: #8f8f99;
      		opacity: 0.5;
            cursor: default;
		}
	}
	
	.toggleBackground {
        z-index: 1;
        position: absolute;
		top: 0;
		height: 1.5rem;
		width: 3rem;
		border-radius: 1.5rem;
        background-color: #81c754;
	}
	
	.toggleFade {
        z-index: 2;
        position: absolute;
        height: 1.5rem;
		width: 1.5rem;
		border-radius: 1.5rem;
        background-color: #81c754;
	}
	
	.toggleBall {
        z-index: 2;
        position: absolute;
		top: 2px;
		left: 2px;
		width: calc(1.5rem - 4px);
		height: calc(1.5rem - 4px);
		border-radius: 100%;
        background-color: #fbfcfd;
	}  
	
	.toggleActive {
		height: 1.5rem;
		width: 3rem;
        background-color: #BB86FC;
		.toggleBall {
			left: calc(1.5rem + 2px);
		}
	}	
    
    .toggleTransition {
		-webkit-transition: all 0.5s ease;  
		-moz-transition: all 0.5s ease;  
		-o-transition: all 0.5s ease;  
		-ms-transition: all 0.5s ease;  
		transition: all 0.5s ease;
	}
}