$themes: (
    light: (
        color-background: #dbdbdb,
        color-text: #212121,
        color-container: #efefef,
        color-link: #809fff,
        color-link-hover: #678cff,
    ),
    dark:(
        color-background: #1c1a18,
        color-text: #ffe2c7,
        color-container: #655B50,
        color-link: #ffba00,
        color-link-hover: #e6a700,
    )
)