@import 'src/themes/theme-builder';

.theme-dark body, .theme-light body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500 ;
}
.theme-dark img {
  filter: brightness(.9) contrast(1.2);
}
body {
  font-style: normal;
  font-size: 1rem;
  @include theme-aware(color, 'text');
  @include theme-aware(background-color, 'background');
  .container {
    margin-bottom: 2rem;
    @include theme-aware(box-shadow, 'container-shadow');
    border-radius: 0.25rem;
    @include theme-aware(background-color, 'container');
  }
  h1 {
    font-size: 4rem;
    font-family: 'Lobster', sans-serif;
    text-shadow: 3px 3px 4px #bb86fc79;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }

  a {
    @include theme-aware(color, 'link');
    cursor: pointer;
    padding: 0.25rem;
    &:hover {
      @include theme-aware(color, 'link-hover');
    }
  }

  .navBar {
    min-height: 64px;
    width: 100vw;
    padding: 1rem 2rem;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 2rem;
    @include theme-aware(box-shadow, 'container-shadow');
    @include theme-aware(background-color, 'container');
    button {
      min-width: fit-content;
      height: fit-content;
      margin: auto;
    }
    h1 {
      margin: auto;
      padding: 0rem 1rem;
    }
  }

  .App-logo {
    height: 4rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .footer {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr) minmax(10rem, 2fr));
    text-align: center;
    justify-items: center;
    align-items: center;
    svg { 
      margin: 1rem;
    }
    span {
      min-width: 12rem;
      :first-child {
        margin-top: 1rem;
      }
    }
  }

}