@import 'src/color-palette';

@mixin theme-aware($key, $color) {
  @each $theme-name, $theme-color in $themes {
      .theme-#{$theme-name} & {
          #{$key}: map-get(map-get($themes, $theme-name), $color)
      }
  }
}

body {
  font-style: normal;
  font-size: 1rem;
  color: #212529;
  @include theme-aware('color', 'color-text');
  @include theme-aware('background-color', 'color-background');
}

.container {
  margin-bottom: 2rem;
  box-shadow: 0px 2px 6px #0d0d0d;
  border-radius: 4px;
  @include theme-aware('background-color', 'color-container');
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

a {
  color:#809fff;
  cursor: pointer;
  &:hover {
    color:#678cff;
  }
}

.navBar {
  top: 0;
  left: 0;
  min-height: 64px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b121f;
  box-shadow: 0 4px 10px #0d0d0d;
  margin-bottom: 2rem;
  color: #EFEFEF;
  .App-logo {
    height: 6rem;
    margin: 1rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}
