#HomePage {

    .container {
        min-height: 30vh;
        padding: 2rem;
    }
    .subSection {
        margin-bottom: 2rem;
        margin-left: 1rem;
        &:last-child {
            margin-bottom: 0rem;
        }
    }
    h2, h3{
        margin-bottom: 1rem;
    }
    p {
        margin-left: 1rem;
    }
    .checkbox{
        margin-left: 1rem;
    }
}