@import 'src/themes/theme-builder';

#HomePage {
    .container {
        min-height: 30vh;
        padding: 0rem;
    }
    .subSection {
        margin-bottom: 2rem;
        margin-left: 1rem;
        &:last-child {
            margin-bottom: 0rem;
        }
    }
    h2 { 
        padding: 2rem; 
        padding-bottom: 1rem;
        svg {
            @include theme-aware(color, 'icon');
        }
    }
    .checkbox {
        margin-left: 1rem;
    }
    .movieCardList {
        padding: 0rem;
        padding-bottom: 2rem;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}