#HomePage {
    .container {
        min-height: 60vh;
        margin-bottom: 2rem;
        box-shadow: 0px 2px 6px darkgrey;
        border-radius: 4px;
        background-color: white;
        padding: 2rem;
    }

    h2 {
        margin-bottom: 1rem;
    }
}