@import 'src/themes/theme-builder';

.movieCard {
	@include theme-aware('background-color', 'card-background');
	@include theme-aware(box-shadow, 'container-shadow');
	max-width: 40rem;
	padding: 1rem;
	border-radius: 0.2rem;
	margin-bottom: 1rem;
	display: grid;
  	grid-template-columns: auto minmax(5rem, 1fr);
	grid-column-gap: 1rem;
	h3 {
		text-align: center;
	}
	img {
		border-radius: 0.2rem;
		@include theme-aware(box-shadow, 'container-shadow');
	}
	svg {
		margin-right: 0.5rem;
	}
	.userScore {
		width: 5rem;
		height: 5rem;
		@include theme-aware(filter, 'score-shadow');
	}
	.CircularProgressbar {
		@include theme-aware(stroke, 'score-text');
		.CircularProgressbar-path {
			@include theme-aware(stroke, 'score-bar');
		}
		.CircularProgressbar-trail {
			@include theme-aware(stroke, 'score-wheel');
		}
	}
}
