@import 'src/themes/theme-builder';

.movieCard {
	@include theme-aware('background-color', 'card-background');
	@include theme-aware(box-shadow, 'container-shadow');
	width: 300px;
    margin: 1rem;
	border-radius: 0.2rem 0.2rem 1rem 1rem;
    margin-bottom: 1rem;
	position: relative;
	img {
		border-radius: 0.2rem 0.2rem 1rem 1rem;
		@include theme-aware(box-shadow, 'container-shadow');
	}
	.movieInfo{
		padding: 1rem;
		text-align: center;
		h3 {
			text-align: center;
			margin-top: .5rem;
			margin-bottom: 11rem;
		}
		button p {
			margin-bottom: 0;
		}
		.scoreAndRelease {
			position: absolute;
			bottom: 1.5rem;
			width: 100%;
			left: 0rem;
			svg {
				margin-right: 0.5rem;
			}
		}
		.movieRelease, .userScoreBar {
			display: inline-block;
		} 
	}	
}
